<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ app_name }} {{ app_version }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
      ============================================ -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ base_url }}assets/notika/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ base_url }}assets/notika/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ base_url }}assets/notika/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ base_url }}assets/notika/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ base_url }}assets/notika/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ base_url }}assets/notika/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ base_url }}assets/notika/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ base_url }}assets/notika/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ base_url }}assets/notika/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ base_url }}assets/notika/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ base_url }}assets/notika/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ base_url }}assets/notika/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ base_url }}assets/notika/icon/favicon-16x16.png">
    <link rel="manifest" href="{{ base_url }}assets/notika/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ base_url }}assets/notika/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/bootstrap.min.css">
    <!-- font awesome CSS
		============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/font-awesome.min.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/normalize.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- Notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/notika-custom-icon.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/responsive.css">
</head>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- 404 Page area Start-->
    <div class="error-page-area">
        <div class="error-page-wrap">
            <i class="notika-icon notika-close"></i>
            <h2>ERROR <span class="counter">500</span></h2>
            <p>Maaf, terjadi kesalahan teknis.<br>Silahkan akses halaman lain, atau klik tombol di bawah ini.</p>
            <a href="./" class="btn">Home</a>
        </div>
    </div>
    <!-- 404 Page area End-->
    <!-- jquery
    		============================================ -->
    <script src="{{ base_url }}assets/notika/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="{{ base_url }}assets/notika/js/counterup/jquery.counterup.min.js"></script>
    <script src="{{ base_url }}assets/notika/js/counterup/waypoints.min.js"></script>
    <script src="{{ base_url }}assets/notika/js/counterup/counterup-active.js"></script>
</body>

</html>