<!doctype html>
<html class="no-js" lang="">
<head>
    <meta name="robots" content="noindex, nofollow" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard | {{ app_name }} {{ app_version }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
  ============================================ -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ base_url }}assets/notika/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ base_url }}assets/notika/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ base_url }}assets/notika/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ base_url }}assets/notika/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ base_url }}assets/notika/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ base_url }}assets/notika/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ base_url }}assets/notika/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ base_url }}assets/notika/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ base_url }}assets/notika/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ base_url }}assets/notika/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ base_url }}assets/notika/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ base_url }}assets/notika/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ base_url }}assets/notika/icon/favicon-16x16.png">
    <link rel="manifest" href="{{ base_url }}assets/notika/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ base_url }}assets/notika/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% if mode == 'develop' %}
    <link rel="stylesheet" href="{{ base_url }}assets/fonts/fonts-roboto.css">
    {% elseif mode == 'production' %}
    <!-- Google Fonts
    ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    {% endif %}
    <!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/bootstrap.min.css">
    <!-- font awesome CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/font-awesome.min.css">
    <!-- owl.carousel CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/owl.carousel.css">
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/owl.theme.css">
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/owl.transitions.css">
    <!-- meanmenu CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/animate.css">
    <!-- normalize CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/normalize.css">
    <!-- wave CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/wave/waves.min.css">
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/wave/button.css">
    <!-- mCustomScrollbar CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- Notika icon CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/notika-custom-icon.css">
    <!-- main CSS
     ============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/main.css">
    <!-- Chosen CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/chosen/chosen.css">
    <!-- style CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/style.css">
    <!-- responsive CSS
     ============================================ -->
    <link rel="stylesheet" href="{{ base_url }}assets/notika/css/responsive.css">
    <!-- CostumMade -->
    <link rel="stylesheet" href="{{ base_url }}assets/vendor/nprogress/nprogress.css" />
    <link rel="stylesheet" href="{{ base_url }}assets/vendor/pnotify/dist/pnotify.css" />
    <link rel="stylesheet" href="{{ base_url }}assets/vendor/pnotify/dist/pnotify.buttons.css" />
    <link rel="stylesheet" href="{{ base_url }}assets/vendor/pnotify/dist/pnotify.nonblock.css" />

    <!-- StyleSheet include -->
    <!-- Datatables -->
    <link rel="stylesheet" href="{{ base_url }}assets/vendor/DataTables/datatables.min.css" />
    <link rel="stylesheet" href="{{ base_url }}assets/vendor/DataTables/CheckBox/dataTables.checkboxes.css" />
    <!-- Alertifyjs CSS -->
    <link rel="stylesheet" href="{{ base_url }}assets/vendor/alertifyjs/css/alertify.min.css" />
    <link rel="stylesheet" href="{{ base_url }}assets/vendor/alertifyjs/css/themes/notika.css" />
    <!-- Switchery -->
    <link rel="stylesheet" href="{{ base_url }}assets/vendor/switchery/dist/switchery.min.css" />
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ base_url }}assets/vendor/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="{{ base_url }}assets/css/scientia.css" />
    <!-- DateRangePicker & jsonViewer -->
    <link rel="stylesheet" type="text/css" href="{{ base_url }}assets/vendor/jquery.json-viewer/json-viewer/jquery.json-viewer.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ base_url }}assets/vendor/daterangepicker/daterangepicker.css"/>
    <!-- jquery js -->
    <script src="{{ base_url }}assets/notika/js/vendor/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        var SiteRoot = "{{ base_url ~ api_path }}/";
        var API_TOKEN = "{{ api_token }}";
        if (getKen = window.localStorage.getItem(API_TOKEN)) {
            if (getKen == 'null') {
                window.location.replace('./login');
            }
        } else {
            window.location.replace('./login');
        }

        /**
        * html5 date compatibility
        */
        var datefield = document.createElement("input")
        datefield.setAttribute("type", "date")
        if (datefield.type != "date") { //if browser doesn't support input type="date", load files for jQuery UI Date Picker
            document.write('<link href="{{ base_url }}assets/vendor/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" type="text/css" />\n');
            document.write('<script src="{{ base_url }}assets/vendor/jquery-ui-1.12.1/jquery-ui.min.js"><\/script>\n');
        }
    </script>
</head>