<!-- Plugins and scripts required by this view-->
{# <script src="{{ base_url }}assets/templates/coreui/modules/chart.js/dist/Chart.min.js"></script> #}
<script src="{{ base_url }}assets/templates/coreui/modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
<script src="{{ base_url }}assets/templates/coreui/js/main.js"></script>
<!-- PageJS -->
{% if mode == 'development' %}
<script type="text/javascript" src="{{ base_url }}assets/scripts/page/home.js?v={{jsver}}"></script>
{% elseif mode == 'production' %}
<script type="text/javascript" src="{{ base_url }}assets/scripts/page/home.min.js"></script>
{% endif %}
<div class="animated fadeIn"></div>
