<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>500 - {{ app_name }} {{ app_version }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- favicon
      ============================================ -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ base_url }}assets/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ base_url }}assets/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ base_url }}assets/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ base_url }}assets/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ base_url }}assets/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ base_url }}assets/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ base_url }}assets/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ base_url }}assets/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ base_url }}assets/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ base_url }}assets/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ base_url }}assets/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ base_url }}assets/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ base_url }}assets/icon/favicon-16x16.png">
  <link rel="manifest" href="{{ base_url }}assets/icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ base_url }}assets/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- Google Fonts
		============================================ -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
  <!-- Bootstrap CSS
		============================================ -->
  <link rel="stylesheet" href="{{ base_url }}assets/css/error-page.css">
</head>

<body>
  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <!-- 404 Page area Start-->
  <div class="container">
    <div class="error">
      <h1><span class="counter">500</span></h1>
      <h2>error</h2>
      <p>Oops! terjadi kesalahan...<br>Saatnya Anda beristirahat sejenak.<br>Biarkan programmer kami yang menanganinya ;)</p>
      <a href="./" class="btn btn-primary">Baiklah</a>
    </div>
    <div class="stack-container">
      <div class="card-container">
        <div class="perspec" style="--spreaddist: 125px; --scaledist: .75; --vertdist: -25px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="perspec" style="--spreaddist: 100px; --scaledist: .8; --vertdist: -20px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="perspec" style="--spreaddist:75px; --scaledist: .85; --vertdist: -15px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="perspec" style="--spreaddist: 50px; --scaledist: .9; --vertdist: -10px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="perspec" style="--spreaddist: 25px; --scaledist: .95; --vertdist: -5px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="perspec" style="--spreaddist: 0px; --scaledist: 1; --vertdist: 0px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- 500 Page area End
  src: https://codepen.io/quinlo/pen/aajEyb
  -->
  <!-- jquery
    		============================================ -->
  <script src="{{ base_url }}assets/notika/js/vendor/jquery-1.12.4.min.js"></script>
  <!-- counterup JS
		============================================ -->
  <script src="{{ base_url }}assets/notika/js/counterup/jquery.counterup.min.js"></script>
  <script src="{{ base_url }}assets/notika/js/counterup/waypoints.min.js"></script>
  <script src="{{ base_url }}assets/scripts/page/500.js"></script>
</body>

</html>
